body{

background:#f2f5fa;

font-family:Segoe UI;

}

.container{

width:70%;

margin:auto;

margin-top:40px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.15);

}

h1{

text-align:center;

color:#1565C0;

}

p{

text-align:center;

color:gray;

}

textarea{

width:100%;

height:160px;

font-size:18px;

padding:15px;

border-radius:12px;

border:1px solid #cccccc;

}

button{

margin-top:25px;

width:100%;

padding:15px;

background:#1565C0;

color:white;

font-size:20px;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#0D47A1;

}

#answer{

margin-top:30px;

background:#F8F8F8;

padding:25px;

border-radius:12px;

white-space:pre-wrap;

min-height:200px;

}